.button{
    padding: 0;
}
.login-style{
    background: white;
    padding-left: 10px;
    padding-top: 20px;
    align-items: flex-start;
    width: 350px;
    margin: auto;
    height: 300px;
    margin-top: 100px;
}
.login-btn{
    float: right;
    bottom: -32px;
}
ibm-label{
    padding-top: 10px;
    width: 330px;
}