<app-navbar></app-navbar>

<div class="starter-home bx--content" ibmGrid>
	<ibm-table-container>
		<ibm-table-header>
			<h4 ibmTableHeaderTitle>{{title}}</h4>
			<p ibmTableHeaderDescription>{{description}}</p>
		</ibm-table-header>

		<ibm-table-toolbar [model]="model" batchText="batchText">
			<ibm-table-toolbar-content>
				<ibm-table-toolbar-search [expandable]="true"></ibm-table-toolbar-search>
				<button ibmButton="primary" size="sm" class="add-button-style" (click)="openModal(null)">
					Add Entry
					<svg class="bx--btn__icon icon-style" ibmIconAdd32></svg>
				</button>
			</ibm-table-toolbar-content>
		</ibm-table-toolbar>

		<div *ngIf="model.data.length>1;else noData">
			<ibm-table [model]="model" size="md" sortable="true" showSelectionColumn="true"></ibm-table>



		</div>
		<ng-template #noData>
			<ibm-table [model]="model">No data.</ibm-table>
		</ng-template>
		<div *ngIf="model.data.length>1">
			<ibm-pagination [model]="model" (selectPage)="selectPage($event)" class="pagination-arrow-style">
			</ibm-pagination>
		</div>
	</ibm-table-container>

	<ibm-placeholder></ibm-placeholder>

</div>

<ng-template #customTableItemTemplate let-data="data">
	<ibm-tooltip-icon content="Edit">
		<svg class="bx--btn__icon icon-style" ibmIconEdit16 (click)="openModal(data.id)"></svg>
	</ibm-tooltip-icon>
	<ibm-tooltip-icon content="Delete" class="delete-icon">
		<svg class="bx--btn__icon icon-style" ibmIconDelete16 (click)="onDelete(data.id)"></svg>
	</ibm-tooltip-icon>
</ng-template>